<div class="container">

  <div class="row">
    <!-- Bind controller to html -->
    <!-- Basic Bootstrap styles -->
     	<div class="col-xs-12">


     		<h1>My Organiser</h1>
     		<!-- Basic Bootstrap form -->
     		<!-- Clicking submit will call addToDo function -->
     		<form name="frm" class="form-inline" ng-submit="newDiaryEntry()">
     			<div class="form-group">
     				<!-- Bind form input to model -->
     				<input class="form-control" type="text" name="diaryEntry" ng-model="diaryEntry" required>
     			</div>
     			<div class="form-group">
     				<!-- Don't submit if nothing is in the input text box -->
     				<button class="btn btn-primary" ng-disabled="frm.$invalid">Add Item</button>
     			</div>
     			<div class="form-group">
     				<!-- Call removeToDo function on button click -->
     				<button class="btn btn-default" ng-click="removeToDo()">Clear Completed</button>
     			</div>
     		</form>
     		<ul class="list-unstyled">
     		    <li ng-repeat="diaryEntry in diary | orderBy: item">
     		    	<div class="checkbox">
     				    <label>
     				    	<!-- Bind checkbox to list items marked 'done' -->
     				    	<input type="checkbox" ng-model="diary.done" />
     				    	<!-- Add specific style if marked done -->
     		        		<span ng-class="{'done':diary.done}">{{ diary.item }}</span>
     				    </label>
     				</div>
     		    </li>
     		</ul>
     	</div>
     </div>


</div>
