<div class="container">

  <div class="row">
    <!-- Bind controller to html -->
    <!-- Basic Bootstrap styles -->
     	<div class="col-xs-12">
     		<h1>Dear Diary</h1>
     		<!-- Basic Bootstrap form -->
     		<!-- Clicking submit will call addToDo function -->
     		<form name="frm" class="form-inline" ng-submit="newDiaryEntry()">
     			<div class="form-group">
     				<!-- Bind form input to model -->
     				<input class="form-control" type="text" name="diaryEntry" ng-model="diaryEntry" required>
     			</div>
     			<div class="form-group">
     				<!-- Don't submit if nothing is in the input text box -->
     				<button class="btn btn-primary" ng-disabled="frm.$invalid">Add Item</button>
     			</div>
     			<div class="form-group">
     				<!-- Call removeToDo function on button click -->
     				<button class="btn btn-secondary" ng-click="removeDiaryEntry()">Clear Completed</button>
     			</div>
     		</form>
     		<ul>
     		    <li ng-repeat="foo in diary | orderBy: item">
     		    	<div class="checkbox">
     				    <label>
     				    	<!-- Bind checkbox to list items marked 'done' -->
     				    	<input type="checkbox" ng-model="foo.done" />
     				    </label>
     				</div>
              <span ng-class="{'done':foo.done}">{{ foo.item }}</span>
              <div>{{foo.date}}</div>
     		    </li>
     		</ul>
     	</div>
     </div>


</div>
